# Caches, build artifacts
.DS_Store
.cache/
*.egg*
.gradle/
.idea/
*.py[cod]
.pypirc
.tox/
.*version
.venv*/
__pycache__/
build/
dist/
vmaf_output.xml
compile_commands.json

result.txt
vid_temp/
!vid_temp/PUT_VID_HERE
temp/
pred_vmaf/trained_models/
